.logo {
  display: block;

  color: $accentColor;
  font-family: $Raleway, $SansSerif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  &__span--origin {
    color: #000000;
  }
  &__span--reversed {
    color: $titleTextColor;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  @media screen and (max-width: 1199px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.menu-button {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: fill 250ms $animationTimingFunction;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
    fill: #212121;
  }

  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.mobile-menu {
  &--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #ffffff;

    transform: translateX(100%);
    transition: transform 250ms $animationTimingFunction;
    &.is-open {
      transform: translateX(0);
    }
  }

  &__site-nav,
  &__contacts-list,
  &__social-links {
    padding-left: 0;
    text-align: center;
  }

  &__site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }

  &__site-nav__link:hover,
  &__site-nav__link:focus {
    color: $accentColor;
  }

  &__contacts-item:not(:first-child) {
    margin-top: 32px;
    margin-bottom: 64px;
  }

  &__contacts-link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $accentColor;
  }

  &__contacts-link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: $secondaryTextColor;
  }

  &__contacts-link--mail:hover,
  &__contacts-link--mail:focus {
    color: $accentColor;
  }

  &__social-links {
    display: flex;
  }

  &__social-links__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 5px;
  }

  &__social-links__item:not(:first-child) {
    padding-left: 5px;
  }

  &__social-links__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accentColor;
  }
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  margin: auto;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__contacts-list {
    margin-left: auto;
    padding-left: 0px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__contacts-item:not(:first-child) {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  &__contacts-icon {
    background-size: contain;
    fill: currentColor;
    margin-right: 10px;
  }

  &__contacts-link:hover,
  &__contacts-link:focus {
    color: $accentColor;
    fill: $accentColor;
  }

  &__contacts-link {
    display: flex;
    color: $secondaryTextColor;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms $animationTimingFunction,
      fill 250ms $animationTimingFunction;

    align-items: center;
  }
  &__contacts-item:first-child {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
}

.site-nav {
  display: none;
  align-items: center;

  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__link {
    display: block;
    color: $primaryTextColor;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms $animationTimingFunction,
      fill 250ms $animationTimingFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
    fill: $accentColor;
  }
  &__link--active {
    position: relative;

    color: $accentColor;
  }
  &__link--active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
  }
}
