// Основные цвета________________________________________________________
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$titleTextColor: #ffffff;
$accentColor: #2196f3;
$secondaryAccentColor: #188ce8;

// Шрифт_________________________________________________________________
$Raleway: Raleway;
$Roboto: Roboto;
$SansSerif: sans-serif;

// Переходы______________________________________________________________
$animationTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
